.create-page {
  display: block;
  width: 40vw;
  margin: auto;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  justify-content: center;
}

.main-div {
  height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}







