.create-page {
  display: block;
  max-width: 30%;
  margin: auto;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  text-align: center;
  word-break: break-all;
}

.main-div {
  height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}


mat-card {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .create-page {
    max-width: 80%;
  }

}







