
h1{
  text-align: center;
}

.content-create-page{
  margin-top: 2rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
}

.content-meta-datos-page form{
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.content-meta-datos-page mat-form-field:nth-child(1) {
 width: 35%;
}

.edited-content {
  width: 45%;
  height: 68vh

}

.edited-content form{
  display: flex;
  flex-direction: column;
  height: auto;
  
}


.rendered-content{
  width: 45%;
  height: 68vh;
  border: 0.2rem solid black;
  overflow-y: auto;
  word-wrap: break-word;
}

.media {
  max-width: 100%;
}

hr {
  flex-grow: 1;
 
}

.buttons{
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.startText {
  display: flex;
  justify-content: flex-start;
}

.centeredText{
  display: flex;
  justify-content: center;
   
}

.endedText {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 900px) {
  .rendered-content {
    width: 95%;
  }

  .edited-content {
    width: 95%;
  }
}

