
<button mat-icon-button color="primary" (click)="back()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<h1>Cree su página usando los elementos de la lista</h1>
<div class="content-meta-datos-page">
  
  <form [formGroup]="formMetaDataPage">
    <mat-form-field appearance="outline">
      <mat-label>Titulo de la página</mat-label>
      <input matInput placeholder="Titulo de la página" formControlName="titlePageControl">
      <mat-icon matSuffix>title</mat-icon>
      <mat-error *ngIf="titlePageControl.invalid">Debe indicar el titulo</mat-error>
    </mat-form-field>
    
    
    <mat-form-field appearance="outline">
      <mat-label>Nombre del Usuario</mat-label>
      <input matInput placeholder="Nombre del Usuario" formControlName="nameUserControl">
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="nameUserControl.invalid">Debe indicar el nombre de usuario</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de página</mat-label>
      <mat-select formControlName="typePageControl">
        <mat-option *ngFor="let type_of_page of types_of_pages" [value]="type_of_page.value">
          {{type_of_page.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="typePageControl.invalid">Debe indicar el tipo de página a crear</mat-error>
    </mat-form-field>
  </form>

</div>
<div class="content-create-page">
  <div class="edited-content">
    <form [formGroup]="formCreatePage">

      <mat-form-field class="example-full-width">
        <mat-label>Elementos</mat-label>
        <input type="text" placeholder="Escoge un elemento" aria-label="Tag" matInput formControlName="tagsControl"
          [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete" (optionSelected)="chooseElement($event.option.value)">
          <mat-option *ngFor="let filteredTag of filteredTags | async" [value]="filteredTag.syntaxUser">
            {{filteredTag.nameTag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    

      <mat-form-field>
        <mat-label>Defina contenido</mat-label>
        <textarea matInput #textArea formControlName="contentEdit"
        cdkTextareaAutosize 
        cdkAutosizeMinRows="35" 
        cdkAutosizeMaxRows="40"
        ></textarea>
        <mat-error *ngIf="contentEdit.invalid || allTagsSyntax === undefined || allTagsSyntax === null">Debe indicar algun contenido valido</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="rendered-content" [innerHTML]="renderContent | sanitizeHtml"></div>
  
</div>

<div class="buttons">
  <button mat-stroked-button color="primary" (click)="createPage()" >Crear página</button>
</div>