
<mat-sidenav-container #matSideContainer>
  <mat-sidenav #snav [class.is-mobile-sidenav]="mobileQuery.matches" opened [mode]="mobileQuery.matches ? 'over' : 'side'" position="end" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list class="mat-nav-list">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="snav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Todas las páginas creadas</h2>
      <a matTooltip="{{page.title_page}}" mat-list-item routerLink="." *ngFor="let page of allPages" (click)="view(page)" >{{page.title_page}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-view-page">
          
      <h1>{{page.title_page}}</h1>
      <h2>Nombre del usuario autor: {{page.username}}</h2>
      
    
      <div class="rendered-content" [innerHTML]="renderContent  | sanitizeHtml "></div>

      <a href="http://freshfish.sytes.net:9061/page/view-page-by-param-id?id_page={{page.id_page}}" 
         matTooltip= "Ver página: http://freshfish.sytes.net:9061/page/view-page-by-param-id?id_page={{page.id_page}}" 
         target="_blank">
         Enlace para esta página
      </a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



