
<mat-sidenav-container #matSideContainer>
  <mat-sidenav
    class="mat-side-nav"
    #snav 
    [class.is-mobile-sidenav]="mobileQuery.matches"
    [class.is-desktop-sidenav]="!mobileQuery.matches" 
    opened 
    [mode]="mobileQuery.matches ? 'over' : 'side'" 
    position="end" 
    [fixedInViewport]="mobileQuery.matches" 
    fixedTopGap="56"
  >
    <div class="header-matside">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="snav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Todas las páginas creadas</h2>
      <mat-form-field>
        <mat-label>Buscador de Paginas</mat-label>
        <input matInput (keyup)="searchPage($event)" placeholder="Buscador de Paginas" #input>
      </mat-form-field>
    </div>
    <mat-nav-list>
      <div class="loading-data" *ngIf="loadingData">
        <mat-progress-spinner 
          color="primary" 
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <a 
        class="page-item-a" 
        matTooltip="{{page.title_page}}" 
        mat-list-item routerLink="." 
        *ngFor="let page of allPages; index as i" 
        (click)="view(page)" 
        [style.backgroundColor] =" pageView.id_page === page.id_page ? '#009fdc':'#fff'"
      >
        {{page.title_page}}
      </a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-view-page">
          
      <h1>{{pageView.title_page}}</h1>
      <h2>Nombre del usuario autor: {{pageView.username}}</h2>
      
    
      <div class="rendered-content" [innerHTML]="renderContent  | sanitizeHtml "></div>
      
      <div *ngIf="viewImageZoom" [style]="styleContentImage">
        <img data-image-zoom  [src]="zoomImage" [style]="styleImage">
      </div>
      

      
      

      <a href="http://freshfish.sytes.net:9061/page/view-page-by-param-id?id_page={{pageView.id_page}}" 
         matTooltip= "Ver página: http://freshfish.sytes.net:9061/page/view-page-by-param-id?id_page={{pageView.id_page}}" 
         target="_blank">
         Enlace para esta página
      </a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



