.mat-nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.content-view-page{
  height: 93.2vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  text-align: start;
  padding-left: 3rem;
}
a{
 padding-left: 3rem;
}

h1{
  word-break: break-all;
}

.buttons{
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
}


.icons {
  display: flex;
  justify-content: center;
}

.icon {
  text-align: center;
  width: 3rem;
}

.icon_verified {
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}

.buttons-row{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.rendered-content{
  padding: 2rem;
  word-wrap: break-word;
}

.is-mobile-sidenav{
  width: 80%;
  
}
