
.main-content {
 display: flex;
 flex-wrap: wrap;
 height:auto;
}

.view-all-categories{
 
  padding: 0 1rem;
  max-width: 20%;
  width: 20%;
  height: 89vh;
  overflow-y: auto;
  overflow-x: visible;
 
}



mat-paginator{
 display: inline;
 
 
}

.view-all-categories span mat-label {
 padding: 0.3rem;
 background-color: rgb(255, 255, 255);
 max-width: 10rem;
 width: 10rem;
 box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
 border-radius: 0.4rem;
 font-weight: bold;
 word-break: break-all;
}


.view-all-categories span mat-label:hover{
 scale: 1.1;
}

.view-all-categories h2 {
 position: sticky;
 top: 0;
 background-color: white;
 width: 100%;
 z-index: 1000;
 margin-bottom: 1rem;
}

.category-item{
 margin-top: 0.8rem;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-wrap: wrap;
}

.category-item mat-label {
 cursor: pointer;
 
}

.view-all-content{
 max-width: 70%;
 width: 70%;
 margin: auto;

}



.table-header{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: relative;
}

.buttons > button {
 margin-left: 1rem;
}

h1{
  text-align: center;
}

.icon{
  text-align: center;
}

.icon_verified{
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}


.title-matcell{
  display: none;
  align-items: center;
  
  
}



.title_page{
 cursor: pointer;
 
}

.title_page:hover{
 font-weight: bolder;
 text-decoration: underline;
 color: blue;
}



@media (max-width: 1250px) {

  .view-all-categories{
   max-width: 100%;
   width: 100%;
   
   height: 40%;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow-y: hidden;
  }

  .view-all-categories h2 {
   position: absolute;
   z-index: 0;
   
  }

  .view-all-categories h2 {
   text-align: center;
  }

  

  .title-matcell {
    display: flex;
    align-items: center;
    font-weight: bolder;
    word-wrap: break-word;
  }
 
  tr[mat-header-row] {
    display: none;
    
  }

  .index-row {
    text-align: center;
    font-weight: bolder;
  }

  td[mat-cell]:nth-child(1){
    display: flex;
    justify-content: center;
  }
  
  td[mat-cell] {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td[mat-cell] .title-matcell {
    text-align: left;
    text-align-last: left;
  }

  td[mat-cell] .title-content {
    text-align: right;
    text-align-last: right;
  }

}





