

mat-sidenav-container{
  height: 89vh;
  margin: 0;
  padding: 0;

}

.content-view-page{
  height: 89vh;
  
}


.mat-nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2rem;
}

.mat-nav-list button {
  margin-top: 1rem;
  align-self: center;
}

.main-content {
 display: flex;
 flex-wrap: wrap;
 height:auto;
}

.btn-close{
  text-align: center;
  display: block;
  margin: 1rem auto 1rem auto;
  
}

.button-mat-sidenav {
  margin-left: 1rem;
}

.header-matside{
  width: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-top: 2rem;
  display: block;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.header-matside mat-form-field {
  max-width: 95%;
  width: 95%;
}

.header-matside h2 {
  word-break: break-all;
}

.view-all-categories {
  display: flex;
  flex-direction: column;
}

.view-all-categories span {
  max-width: 90%;
  width: 90%;
  border-radius: 0.4rem;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin: 1rem auto;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.view-all-categories mat-label {
  
  margin: auto auto auto 1rem;
}
.view-all-categories .options-categories {
  margin: auto 1rem auto auto;
  text-align: right;
}

mat-paginator{
 display: inline;
 
 
}



.table-mat-pages{

  height: 20rem;
  overflow-y: auto;
  width: 75vw;
  overflow-x: hidden;

}



.category-item{
 margin-top: 0.8rem;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-wrap: wrap;
}

.category-item mat-label {
 cursor: pointer;
 
}

.view-all-content{
 max-width: 70%;
 width: 70%;
 margin: auto;

}



.table-header{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: relative;
 width: 62vw;
 
}

.buttons > button {
 margin-left: 1rem;
}

h1{
  text-align: center;
}

.icon{
  text-align: center;
}

.icon_verified{
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}


.title-matcell{
  display: none;
  align-items: center;
  
  
}



.title_page{
 cursor: pointer;
 
}

.title_page:hover{
 font-weight: bolder;
 text-decoration: underline;
 color: blue;
}

.is-mobile-sidenav{
  width: 45%;
}

@media (min-width:1500px) {
  .table-mat-pages{

    height: 20rem;
    overflow-y: auto;
    width: 62vw;
    overflow-x: hidden;
    
  
  }
}

@media (max-width: 1250px) {

 

  .title-matcell {
    display: flex;
    align-items: center;
    font-weight: bolder;
    word-wrap: break-word;
  }
 
  tr[mat-header-row] {
    display: none;
    
  }

  .index-row {
    text-align: center;
    font-weight: bolder;
  }

  td[mat-cell]:nth-child(1){
    display: flex;
    justify-content: space-between;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 5px dotted black;
  }
  
  td[mat-cell] {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td[mat-cell] .title-matcell {
    text-align: left;
    text-align-last: left;
  }

  td[mat-cell] .title-content {
    text-align: right;
    text-align-last: right;
  }

}

@media (max-width: 700px) {

  .is-mobile-sidenav{
    width: 90%;
  }
  
}





