header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mat-row {
 display: flex;
 justify-content: space-between;
 align-items: center
}
.spacer:nth-child(1){
 display: none;
}

.color-icon-search {
  color: #000;
  cursor: pointer;
}

.input-search{
 
 display: flex;
 margin-top: 1.2rem;
 
 
}




@media only screen and (max-width: 700px) {
  .spacer:nth-child(1) {
   display: block;
  }
  .spacer:nth-child(2) {
   display: none;
  }

  mat-form-field{
    display: none;
  }
}