header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mat-row {
 display: flex;
 justify-content: space-between;
}
.spacer:nth-child(1){
 display: none;
}

.color-icon-search {
  color: #000;
  cursor: pointer;
}

form.ng-untouched.ng-pristine.ng-valid {
  height: 6vh;
}

@media only screen and (max-width: 600px) {
  .spacer:nth-child(1) {
   display: block;
  }
 

  mat-form-field{
    display: none;
  }
}