header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.spacer:nth-child(1){
  display: none;
}

.spacer:nth-child(1) {
  text-align: left;
}

.spacer:nth-child(2) {
  text-align: left;
}

.spacer:nth-child(3) {
  text-align: right;
}

form.spacer {
  text-align: center;
}

mat-toolbar-row:nth-child(1) {

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.color-icon-search {
  color: #000;
  cursor: pointer;
}

form.ng-untouched.ng-pristine.ng-valid {
  height: 6vh;
}

@media only screen and (max-width: 600px) {

  .spacer:nth-child(1) {
    display: block;
  }

  .spacer:nth-child(2) {
    text-align: center;
  }

  mat-form-field{
    display: none;
  }
}