.mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-view-page {
  height: 91vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
 text-align: start;
 padding-left: 3rem;
}

a{
 padding-left: 3rem;
}

h1 {
  word-break: break-all;
}

.header-matside{
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.header-matside > * {
  margin: auto;
  padding: 0;
}

.page-item-a {
  max-width: 30rem;
}

.buttons{
 padding-left: 3rem;
 display: flex;
 flex-direction: row;
}


.icons {
  display: flex;
  justify-content: center;
}

.icon {
  text-align: center;
  width: 3rem;
}

.icon_verified {
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}

.loading-data{

  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: white;
}

.mat-drawer.mat-drawer-side {
  z-index: 1!important;
}

.mat-drawer-content {
  z-index: auto!important;
}

.mat-drawer-container {
  z-index: auto!important;
}

.image-page {
  cursor: crosshair;
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.rendered-content {
  padding: 2rem;
  word-wrap: break-word;
}

.is-mobile-sidenav {
  width: 80%;
}

.is-desktop-sidenav{
  width: 40%;
}

@media (max-width: 700px){
  
  .is-mobile-sidenav{
    width: 95%;
  }
}