h1,
h2,
h3 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}


.icons {
  display: flex;
  justify-content: center;
}

.icon {
  text-align: center;
  width: 3rem;
}

.icon_verified {
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}

.buttons-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.rendered-content {
  padding: 2rem;
  word-wrap: break-word;
}