h1{
  text-align: center;
}

.icon{
  text-align: center;
}

.icon_verified{
  color: #11c011;
}

.icon_cancel {
  color: #c01111;
}

.content {
  margin: 1rem;
}

.title-matcell {
  display: none;
  align-items: center;
}

.title_page{
 cursor: pointer;
 
}

mat-paginator{
 display: inline;
}

.title_page:hover{
 font-weight: bolder;
 text-decoration: underline;
 color: blue;
}

@media (max-width: 900px) {

  .title-matcell {
    display: flex;
    align-items: center;
    font-weight: bolder;
    word-wrap: break-word;
  }

  tr[mat-header-row] {
    display: none;
  }

  .index-row {
    text-align: center;
    font-weight: bolder;
  }

  td[mat-cell]:nth-child(1) {
    display: flex;
    justify-content: center;
  }

  td[mat-cell] {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td[mat-cell] .title-matcell {
    text-align: left;
    text-align-last: left;
  }

  td[mat-cell] .title-content {
    text-align: right;
    text-align-last: right;
  }

}